@model FPTJOB.Models.ApplyJob

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top: 20px;" class="col-md-12">
    <div class="card card-primary">
        <div style="padding-top: 20px;">
            <div style="text-align: center;">
                <h1 style="font-weight: bold; font-size: 50px; text-decoration: none; margin-bottom: 0; color: #f2721e;">Delete Job Application</h1>
            </div>
        </div>

        <div style="margin-top: 20px;" class="d-flex justify-content-center">
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>
                <dt>@Html.DisplayNameFor(model => model.RegDate)</dt>
                </td>
                <td>
                <dd> @Html.DisplayFor(model => model.RegDate)</dd>
                </td>
                </tr>
                <tr>
                    <td>
                <dt> @Html.DisplayNameFor(model => model.ObjProfile)</dt>
                </td>
                <td>
                <dd> @Html.DisplayFor(model => model.ObjProfile.Id)</dd>
                </td>
                </tr>
                <tr>
                    <td>
                <dt> @Html.DisplayNameFor(model => model.ObjJob)</dt>
                </td>
                <td>
                <dd> @Html.DisplayFor(model => model.ObjJob.Id)</dd>
                </td>
                </tr>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px; margin-bottom: 20px;">
            <div class="col-md-6 text-center">
                <form id="deleteForm" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="button" value="Delete" class="btn btn-danger" style="margin: 20px;" onclick="confirmDelete()" />
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>